<div class="container mt-5 d-flex flex-column align-items-center">
  <div class="title-container">
    <h2 class="text-center mb-4 main-title">FAQs - Domande Frequenti</h2>
  </div>
  <div class="accordion w-100" id="faqsAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Come posso registrarmi sulla piattaforma?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Per registrarti sulla nostra piattaforma, clicca sul pulsante
          "Registrati" in alto a destra. Compila il modulo con le tue
          informazioni personali e seleziona se sei un utente o un avvocato. Una
          volta completata la registrazione, riceverai una email di conferma.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Come posso prenotare un appuntamento con un avvocato?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Dopo aver effettuato l'accesso, visita la pagina "Avvocati" e utilizza
          la barra di ricerca per trovare il professionista di cui hai bisogno,
          filtrando per tipo di prestazione e città. Clicca sul profilo
          dell'avvocato desiderato e seleziona una data e un orario disponibile
          tra le 9:00 e le 18:00 dal lunedì al venerdì.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Quali informazioni posso vedere nel profilo dell'avvocato?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Nel profilo dell'avvocato, puoi vedere informazioni dettagliate come
          la sua specializzazione, esperienze, qualifiche, e recensioni di altri
          utenti. Puoi anche vedere le fasce orarie disponibili per gli
          appuntamenti.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Come posso cancellare o modificare un appuntamento?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Per cancellare o modificare un appuntamento, accedi alla tua area
          personale e vai alla sezione "Appuntamenti". Qui potrai visualizzare i
          tuoi appuntamenti futuri e selezionare quello che desideri cancellare
          o modificare. Segui le istruzioni fornite per completare l'operazione.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Gli avvocati possono ricevere appuntamenti fuori dall'orario 9-18?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Gli appuntamenti sulla nostra piattaforma sono disponibili solo dal
          lunedì al venerdì, dalle 9:00 alle 18:00. Tuttavia, potete contattare
          direttamente l'avvocato per discutere di eventuali eccezioni o
          appuntamenti fuori orario.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Come posso contattare il supporto tecnico?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#faqsAccordion"
      >
        <div class="accordion-body">
          Se hai bisogno di assistenza, puoi contattare il nostro supporto
          tecnico tramite l'apposita sezione "Contattaci" presente nel sito.
          Compila il modulo con il tuo nome, email e descrizione del problema, e
          il nostro team ti risponderà il prima possibile.
        </div>
      </div>
    </div>
  </div>
</div>
