<!-- src/app/auth/register/register.component.html -->
<div class="form">
  <p class="title">Register</p>
  <p class="message">Signup now and get full access to our app.</p>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <label>
      <input
        type="text"
        id="firstName"
        [(ngModel)]="user.firstName"
        name="firstName"
        class="input"
        required
        #firstName="ngModel"
        placeholder=""
      />
      <span>First Name</span>
      <div
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="text-danger"
      >
        First name is required.
      </div>
    </label>
    <label>
      <input
        type="text"
        id="lastName"
        [(ngModel)]="user.lastName"
        name="lastName"
        class="input"
        required
        #lastName="ngModel"
        placeholder=""
      />
      <span>Last Name</span>
      <div
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="text-danger"
      >
        Last name is required.
      </div>
    </label>
    <label>
      <input
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        class="input"
        required
        #email="ngModel"
        placeholder=""
      />
      <span>Email</span>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        Valid email is required.
      </div>
    </label>
    <label>
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        class="input"
        required
        #password="ngModel"
        placeholder=""
      />
      <span>Password</span>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger"
      >
        Password is required.
      </div>
    </label>
    <label>
      <select
        id="role"
        [(ngModel)]="user.role"
        name="role"
        class="input"
        required
      >
        <option value="user">User</option>
        <option value="lawyer">Lawyer</option>
      </select>
      <span>Role</span>
    </label>
    <div *ngIf="user.role === 'lawyer'">
      <label>
        <input
          type="text"
          id="specialization"
          [(ngModel)]="lawyer.specialization"
          name="specialization"
          class="input"
          required
          #specialization="ngModel"
          placeholder=""
        />
        <span>Specialization</span>
        <div
          *ngIf="
            specialization.invalid &&
            (specialization.dirty || specialization.touched)
          "
          class="text-danger"
        >
          Specialization is required.
        </div>
      </label>
      <label>
        <textarea
          id="description"
          [(ngModel)]="lawyer.description"
          name="description"
          class="input"
          required
          #description="ngModel"
          placeholder=""
        ></textarea>
        <span>Description</span>
        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          class="text-danger"
        >
          Description is required.
        </div>
      </label>
      <label>
        <input
          type="text"
          id="city"
          [(ngModel)]="lawyer.city"
          name="city"
          class="input"
          required
          #city="ngModel"
          placeholder=""
        />
        <span>City</span>
        <div
          *ngIf="city.invalid && (city.dirty || city.touched)"
          class="text-danger"
        >
          City is required.
        </div>
      </label>
      <label>
        <input
          type="text"
          id="address"
          [(ngModel)]="lawyer.address"
          name="address"
          class="input"
          required
          #address="ngModel"
          placeholder=""
        />
        <span>Address</span>
        <div
          *ngIf="address.invalid && (address.dirty || address.touched)"
          class="text-danger"
        >
          Address is required.
        </div>
      </label>
      <label>
        <input
          type="text"
          id="phone"
          [(ngModel)]="lawyer.phone"
          name="phone"
          class="input"
          required
          #phone="ngModel"
          placeholder=""
        />
        <span>Phone</span>
        <div
          *ngIf="phone.invalid && (phone.dirty || phone.touched)"
          class="text-danger"
        >
          Phone number is required.
        </div>
      </label>
    </div>
    <button type="submit" class="submit" [disabled]="registerForm.invalid">
      Register
    </button>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
