<div *ngIf="lawyer" class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 50%">
    <div class="card-body">
      <h5 class="card-title">{{ lawyer.firstName }} {{ lawyer.lastName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ lawyer.specialization }}</h6>
      <p class="card-text">{{ lawyer.description }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">City: {{ lawyer.city }}</li>
        <li class="list-group-item">Address: {{ lawyer.address }}</li>
        <li class="list-group-item">Phone: {{ lawyer.phone }}</li>
      </ul>
      <div *ngIf="authService.isLoggedIn(); else loginMessage">
        <button
          class="btn btn-primary mt-3"
          (click)="openAppointmentModal(appointmentModalContent)"
        >
          Book Appointment
        </button>
      </div>
      <ng-template #loginMessage>
        <p class="text-muted mt-3">
          Per poter prendere appuntamento effettua il login o registrati.
        </p>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #appointmentModalContent let-modal>
  <app-appointment-modal
    [lawyer]="lawyer"
    (closeModalEvent)="modal.close()"
  ></app-appointment-modal>
</ng-template>
