<div *ngIf="lawyer" class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 50%">
    <div class="card-body">
      <h5 class="card-title">{{ lawyer.firstName }} {{ lawyer.lastName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ lawyer.specialization }}</h6>
      <p class="card-text">{{ lawyer.description }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">City: {{ lawyer.city }}</li>
        <li class="list-group-item">Address: {{ lawyer.address }}</li>
        <li class="list-group-item">Phone: {{ lawyer.phone }}</li>
      </ul>
      <button
        class="btn btn-primary mt-3"
        (click)="openAppointmentModal(content)"
      >
        Book Appointment
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Book Appointment</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="bookAppointment(modal)">
      <div class="form-group">
        <label for="appointmentDate">Date</label>
        <input
          type="date"
          id="appointmentDate"
          class="form-control"
          [(ngModel)]="appointmentDate"
          name="appointmentDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="appointmentTime">Time</label>
        <select
          id="appointmentTime"
          class="form-control"
          [(ngModel)]="appointmentTime"
          name="appointmentTime"
          required
        >
          <option *ngFor="let time of availableTimes" [value]="time">
            {{ time }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="appointmentDescription">Description</label>
        <textarea
          id="appointmentDescription"
          class="form-control"
          [(ngModel)]="appointmentDescription"
          name="appointmentDescription"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Book</button>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
</ng-template>
