<div class="form">
  <p class="title">{{ lawyer?.firstName }} {{ lawyer?.lastName }}</p>
  <p class="message">{{ lawyer?.specialization }}</p>
  <div class="form-group">
    <label>Descrizione</label>
    <textarea class="input" readonly>{{ lawyer?.description }}</textarea>
  </div>
  <div class="form-group">
    <label>Città</label>
    <input type="text" class="input" value="{{ lawyer?.city }}" readonly />
  </div>
  <div class="form-group">
    <label>Indirizzo</label>
    <input type="text" class="input" value="{{ lawyer?.address }}" readonly />
  </div>
  <div class="form-group">
    <label>Telefono</label>
    <input type="text" class="input" value="{{ lawyer?.phone }}" readonly />
  </div>
  <div *ngIf="authService.isLoggedIn(); else loginMessage">
    <button
      class="btn btn-primary submit"
      (click)="openAppointmentModal(appointmentModalContent)"
    >
      Prenota Appuntamento
    </button>
  </div>
  <ng-template #loginMessage>
    <p class="text-muted mt-3">
      Per poter prendere appuntamento effettua il login o registrati.
    </p>
  </ng-template>
</div>

<ng-template #appointmentModalContent let-modal>
  <app-appointment-modal
    [lawyer]="lawyer"
    (closeModalEvent)="modal.close()"
  ></app-appointment-modal>
</ng-template>
