<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Lawtus</a>
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
      <div class="d-flex">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/lawyers">Lawyers</a>
      </div>
      <div class="d-flex">
        <a
          class="nav-link"
          *ngIf="!authService.isLoggedIn()"
          (click)="openLoginModal()"
          >Login</a
        >
        <a
          class="nav-link"
          *ngIf="!authService.isLoggedIn()"
          (click)="openRegisterModal()"
          >Register</a
        >
        <a
          class="nav-link"
          *ngIf="authService.isLoggedIn()"
          routerLink="/profile"
          >Profile</a
        >
        <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="logout()"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>

<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-login (closeModal)="modal.close()"></app-login>
  </div>
</ng-template>

<ng-template #registerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Register</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-register (closeModal)="modal.close()"></app-register>
  </div>
</ng-template>
