<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
      <div class="d-flex">
        <a class="nav-link" routerLink="/lawyers">Avvocati</a>
        <a class="nav-link" routerLink="/faqs">FAQs</a>
      </div>
      <a class="navbar-brand mx-auto" routerLink="/">
        <img
          src="/assets/lawtus_logo-01.png"
          alt="Lawtus Logo"
          class="navbar-logo"
        />
      </a>
      <div class="d-flex">
        <a
          class="nav-link"
          *ngIf="!authService.isLoggedIn()"
          (click)="openLoginModal()"
        >
          <i class="bi bi-box-arrow-in-right"></i>
        </a>
        <a
          class="nav-link"
          *ngIf="!authService.isLoggedIn()"
          (click)="openRegisterModal()"
        >
          <i class="bi bi-person-plus"></i>
        </a>
        <a
          class="nav-link"
          *ngIf="authService.isLoggedIn()"
          (click)="navigateToProfile()"
        >
          <i class="bi bi-person"></i>
        </a>
        <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<ng-template #loginModal let-modal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-login (closeModal)="modal.close()"></app-login>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #registerModal let-modal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-register (closeModal)="modal.close()"></app-register>
      </div>
    </div>
  </div>
</ng-template>
