<div class="container mt-5">
  <div class="row justify-content-center align-items-start">
    <div class="col-lg-3 col-md-4 mb-4">
      <div class="profile-pic-wrapper">
        <img
          *ngIf="user.profilePicture"
          [src]="user.profilePicture"
          alt="Profile Picture"
          class="profile-pic"
        />
        <div *ngIf="!user.profilePicture" class="profile-pic-placeholder">
          Profile Picture
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 mb-4">
      <div class="card user-details-card">
        <div class="card-body">
          <h2 class="mb-5">Profilo Utente:</h2>
          <div class="user-details">
            <p class="details"><strong>Nome:</strong> {{ user.firstName }}</p>
            <p class="details"><strong>Cognome:</strong> {{ user.lastName }}</p>
            <p class="details"><strong>Email:</strong> {{ user.email }}</p>
          </div>
          <div class="d-flex justify-content-end user-actions">
            <button class="btn btn-primary me-2" (click)="openEditModal()">
              Modifica Profilo
            </button>
            <label for="file-upload" class="btn btn-primary">
              Cambia Foto
            </label>
            <input
              id="file-upload"
              type="file"
              (change)="onFileSelected($event)"
              class="file-upload-input"
            />
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3 class="appointments-title text-center">I Tuoi Appuntamenti:</h3>
    <div *ngIf="appointments.length === 0" class="text-center">
      Nessun appuntamento trovato.
    </div>
    <div
      *ngFor="let appointment of appointments"
      class="card mb-3 appointment-card"
    >
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="details">
            <strong>Data:</strong> {{ appointment.appointmentDate }}
          </p>
          <p class="details">
            <strong>Avvocato:</strong> {{ appointment.lawyerFirstName }}
            {{ appointment.lawyerLastName }}
          </p>
        </div>
        <p class="details">
          <strong>Descrizione:</strong> {{ appointment.description }}
        </p>
      </div>
    </div>
  </div>

  <ng-template #editModal let-modal>
    <div class="form">
      <p class="title">Modifica Profilo</p>
      <form (ngSubmit)="updateProfile()" #userForm="ngForm">
        <label>
          <input
            type="text"
            id="firstName"
            [(ngModel)]="user.firstName"
            name="firstName"
            class="input"
            required
            #firstName="ngModel"
            placeholder=""
          />
          <span>Nome</span>
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="text-danger"
          >
            Nome è richiesto.
          </div>
        </label>
        <label>
          <input
            type="text"
            id="lastName"
            [(ngModel)]="user.lastName"
            name="lastName"
            class="input"
            required
            #lastName="ngModel"
            placeholder=""
          />
          <span>Cognome</span>
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="text-danger"
          >
            Cognome è richiesto.
          </div>
        </label>
        <label>
          <input
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            class="input"
            required
            #email="ngModel"
            placeholder=""
          />
          <span>Email</span>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger"
          >
            Email valida è richiesta.
          </div>
        </label>
        <label>
          <input
            type="password"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            class="input"
            required
            #password="ngModel"
            placeholder=""
          />
          <span>Password</span>
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            Password è richiesta.
          </div>
        </label>
        <button type="submit" class="submit" [disabled]="userForm.invalid">
          Salva Modifiche
        </button>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </ng-template>
</div>
