<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Benvenuti su Lawtus</h1>
    <p class="lead">
      La piattaforma per trovare e prenotare appuntamenti con avvocati.
    </p>
    <hr class="my-4" />
    <p>Accedi o registrati per iniziare.</p>
    <a class="btn btn-primary btn-lg" routerLink="/login" role="button"
      >Login</a
    >
    <a class="btn btn-secondary btn-lg" routerLink="/register" role="button"
      >Registrati</a
    >
  </div>
</div>
