<div
  class="container-fluid d-flex flex-column min-vh-100 custom-landing-page p-0 bg"
>
  <div
    class="row flex-grow-1 align-items-center justify-content-center m-0 mb-5"
  >
    <div class="col-md-5 text-left">
      <img
        src="../../assets/lawtus_banner.png"
        alt="Lawtus Banner"
        class="mb-5lawtus-banner"
      />
      <p class="mt-3 lead lead1 mt-5">
        Trova il tuo avvocato ideale e prenota facilmente <br />
        un appuntamento online.
      </p>
      <p class="lead lead2">
        Siamo quel sito dove la legge incontra la tecnologia.
      </p>

      <div class="button-container row mt-5 g-1">
        <div class="col-3">
          <button class="searchbutton w-100" (click)="openLoginModal()">
            Accedi
          </button>
        </div>
        <div class="col-3">
          <button class="searchbutton w-100" (click)="openRegisterModal()">
            Registrati
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-right">
      <img
        src="assets/lawyer_ux.png"
        alt="Lawtus People"
        class="img-fluid lawtus-people"
      />
    </div>
  </div>
</div>

<ng-template #loginModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-login (closeModal)="closeModal()"></app-login>
    </div>
  </div>
</ng-template>

<ng-template #registerModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-register (closeModal)="closeModal()"></app-register>
    </div>
  </div>
</ng-template>
