.container {
  max-width: 1200px;
  margin: 0 auto;
}

.profile-pic-wrapper {
  height: 300px; /* Altezza fissa per abbinare alla card dei dettagli */
  border-radius: 15px;
  border: 1px solid #27376f;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  background-color: #f0f0f0;
}

.user-details-card {
  border: 1px solid #27376f;
  border-radius: 15px;
  overflow: hidden;
  height: 300px; /* Altezza fissa per abbinare l'immagine */
}

.user-details {
  margin-top: 20px; /* Margine per separare dal titolo */
}

h2 {
  font-family: "Rubrik", sans-serif;
  color: #27376f;
}

.card-body p {
  color: #27376f;
  font-family: "Rubrik", sans-serif;
}

.user-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px; /* Margine superiore per separare i pulsanti */
}

.btn-primary {
  background-color: #27376f;
  border: none;
  border-radius: 10px;
  padding: 5px 10px; /* Padding ridotto per pulsanti più piccoli */
  font-size: 14px; /* Dimensione font ridotta */
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Spazio tra i pulsanti */
}

.btn-primary:hover {
  background-color: #1b255f;
}

.file-upload-input {
  display: none;
}

.alert-danger {
  font-family: "Rubrik", sans-serif;
}

.appointments-title {
  font-family: "Rubrik", sans-serif;
  color: #27376f;
  margin-bottom: 20px;
}

.appointment-card {
  border: 1px solid #27376f;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.appointment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appointment-card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-card .details {
  color: #27376f;
  font-family: "Rubrik", sans-serif;
}

.appointment-card .details strong {
  font-weight: bold;
}

/* Stile per la modale di modifica del profilo */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}

.title {
  font-size: 28px;
  color: #27376f;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #27376f;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #27376f;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  margin-bottom: 20px;
}

.form label {
  position: relative;
  width: 100%;
}

.form label .input {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin-bottom: 20px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 10px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: -10px;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #fff;
  padding: 0 5px;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #27376f;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
