<div class="container mt-5">
  <div class="row justify-content-center align-items-start">
    <div class="col-lg-3 col-md-4 mb-4">
      <div class="profile-pic-wrapper">
        <img
          *ngIf="lawyer.profilePicture"
          [src]="lawyer.profilePicture"
          alt="Profile Picture"
          class="profile-pic"
        />
        <div *ngIf="!lawyer.profilePicture" class="profile-pic-placeholder">
          No Image
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 mb-4">
      <div class="card user-details-card">
        <div class="card-body">
          <h2 class="mb-5">Profilo Avvocato:</h2>
          <div class="row user-details">
            <div class="col-sm-6">
              <p class="details">
                <strong>Nome:</strong> {{ lawyer.firstName }}
              </p>
              <p class="details">
                <strong>Cognome:</strong> {{ lawyer.lastName }}
              </p>
              <p class="details"><strong>Email:</strong> {{ lawyer.email }}</p>
              <p class="details">
                <strong>Telefono:</strong> {{ lawyer.phone }}
              </p>
              <p class="details">
                <strong>Indirizzo:</strong> {{ lawyer.address }}
              </p>
            </div>
            <div class="col-sm-6">
              <p class="details"><strong>Città:</strong> {{ lawyer.city }}</p>
              <p class="details">
                <strong>Descrizione:</strong> {{ lawyer.description }}
              </p>
              <p class="details">
                <strong>Specializzazione:</strong> {{ lawyer.specialization }}
              </p>
              <div class="user-actions">
                <button class="btn btn-primary me-2" (click)="openEditModal()">
                  Modifica Profilo
                </button>
                <label for="file-upload" class="btn btn-primary">
                  Cambia Foto
                </label>
                <input
                  id="file-upload"
                  type="file"
                  (change)="onFileSelected($event)"
                  class="file-upload-input"
                />
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3 class="appointments-title text-center">I Tuoi Appuntamenti:</h3>
    <div *ngIf="appointments.length === 0" class="text-center">
      Nessun appuntamento trovato.
    </div>
    <div
      *ngFor="let appointment of appointments"
      class="card mb-3 appointment-card"
    >
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="details">
            <strong>Data:</strong> {{ appointment.appointmentDate }}
          </p>
          <p class="details">
            <strong>Cliente:</strong> {{ appointment.userFirstName }}
            {{ appointment.userLastName }}
          </p>
        </div>
        <p class="details">
          <strong>Descrizione:</strong> {{ appointment.description }}
        </p>
      </div>
    </div>
  </div>

  <ng-template #editModal let-modal>
    <div class="form">
      <p class="title">Modifica Profilo</p>
      <form (ngSubmit)="updateProfile()" #lawyerForm="ngForm">
        <label>
          <input
            type="text"
            id="firstName"
            [(ngModel)]="lawyer.firstName"
            name="firstName"
            class="input"
            required
            #firstName="ngModel"
            placeholder=""
          />
          <span>Nome</span>
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="text-danger"
          >
            Nome è richiesto.
          </div>
        </label>
        <label>
          <input
            type="text"
            id="lastName"
            [(ngModel)]="lawyer.lastName"
            name="lastName"
            class="input"
            required
            #lastName="ngModel"
            placeholder=""
          />
          <span>Cognome</span>
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="text-danger"
          >
            Cognome è richiesto.
          </div>
        </label>
        <label>
          <input
            type="email"
            id="email"
            [(ngModel)]="lawyer.email"
            name="email"
            class="input"
            required
            #email="ngModel"
            placeholder=""
          />
          <span>Email</span>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger"
          >
            Email valida è richiesta.
          </div>
        </label>
        <label>
          <input
            type="text"
            id="phone"
            [(ngModel)]="lawyer.phone"
            name="phone"
            class="input"
            required
            #phone="ngModel"
            placeholder=""
          />
          <span>Telefono</span>
          <div
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
            class="text-danger"
          >
            Telefono è richiesto.
          </div>
        </label>
        <label>
          <input
            type="text"
            id="address"
            [(ngModel)]="lawyer.address"
            name="address"
            class="input"
            required
            #address="ngModel"
            placeholder=""
          />
          <span>Indirizzo</span>
          <div
            *ngIf="address.invalid && (address.dirty || address.touched)"
            class="text-danger"
          >
            Indirizzo è richiesto.
          </div>
        </label>
        <label>
          <input
            type="text"
            id="specialization"
            [(ngModel)]="lawyer.specialization"
            name="specialization"
            class="input"
            required
            #specialization="ngModel"
            placeholder=""
          />
          <span>Specializzazione</span>
          <div
            *ngIf="
              specialization.invalid &&
              (specialization.dirty || specialization.touched)
            "
            class="text-danger"
          >
            Specializzazione è richiesta.
          </div>
        </label>
        <label>
          <textarea
            id="description"
            [(ngModel)]="lawyer.description"
            name="description"
            class="input"
            rows="5"
            required
            #description="ngModel"
            placeholder=""
          ></textarea>
          <span>Descrizione</span>
          <div
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
            class="text-danger"
          >
            Descrizione è richiesta.
          </div>
        </label>
        <button type="submit" class="submit" [disabled]="lawyerForm.invalid">
          Salva Modifiche
        </button>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </ng-template>
</div>
